<nav>
    <div class="site-title">
        <a href="https://cepdnaclk.github.io/e16-3yp-automated-railway-ticketing-system/" target="_blank">
            <h1>ARTS</h1>
        </a>
        <h3>NOTICE : This site is under construction...</h3>
        <p>Automated Railway Ticketing System</p>
    </div>
    <ul>
        <li>
            <a href="/">Train Schedules</a>
        </li>
        <li>
            <a href="/about">Account</a>
        </li>
        <li>
            <a href="/travel">Travels</a>
        </li>
        <li>
            <a href="/blogs/create">Addmission</a>
        </li>
    </ul>
</nav>